{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<section class="bg p-3">
    <h1 align="center">Votre Panier</h1>
</section>

<table class="table">
    <thead>
    <tr style="color: beige">
        <th>Produit</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Total</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody style="color: beige">
    {% for element in panierwithData %}
        <tr>
            <td>{{ element.product.name }}</td>
            <td class="text-end">{{ element.product.prix }} €</td>
            <td>{{ element.quantity }}</td>
            <td class="text-end">{{ element.quantity * element.product.prix }} €</td>
            <td>
                <a href="{{path("add", {id: element.product.id})}}" class="btn btn-success">
                    +  <i class="bi bi-cart-plus"></i>
                </a>
                <a href="{{path("remove", {id: element.product.id})}}" class="btn btn-warning">
                    -  <i class="bi bi-cart-dash"></i>
                </a>
                <a  href="{{path("delete", {id: element.product.id})}}" class="btn btn-danger">
                    Supprimer <i class="bi bi-cart-x"></i>
                </a>
            </td>
        </tr>

    </tbody>
    <tfoot>
    <tr  style="color: beige">
        <td colspan="3">Total</td>
        <td class="text-end">{{ total }} €</td>
        <td>
            <a href="{{path("delete_all")}} " class="btn btn-danger">
                Tout supprimer <i class="bi bi-cart-x"></i>
            </a>
        </td>
    </tr>

    <td>
        <a  href="{{path('commande_new')}}" class="btn btn-success" >
            FINALISER VOTRE COMMANDE<i class="bi bi-cart-x"></i>
        </a>
    </td>
    {% else %}
        <tr>
            <td colspan="5" class="text-center">Votre panier est vide</td>
        </tr>
    {% endfor %}
    <td>
        <a href="{{path("gameslistF")}}" class="btn btn-warning">
            POURSUIVRE VOS ACHATS<i class="bi bi-cart-x"></i>
        </a>
    </td>
    </tfoot>
</table>

{% endblock  %}
{% block footer %}
{% endblock %}