{% extends 'base_back.html.twig' %}








{% block title %}News!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="row vertical-gap">
        {% for news in news %}



                    <div class="col-lg-6">
                        <div class="nk-product-cat-2">
                            <a class="nk-product-image" >
                                {% for image in news.image %}
                                <img src="{{ asset ('/uploads/' ~ image.name ) }}"

                                     alt="image" width="150">
                            </a>
                            <div class="nk-product-cont">
                                <h3 class="nk-product-title h5"><a href="store-product.html">{{ news.categorie }}</a></h3>
                                <div class="nk-gap-1"></div>

                                </div>
                                <div class="nk-gap-1"></div>
                                {{ news.Titre  }}
                                <div class="nk-gap-2"></div>
                                <div class="nk-gap-1"></div>
                            <td>{{ news.Date ? news.Date|date('Y-m-d') : '' }}</td>
                            <td>{{ news.Text }}</td>
                            <td>{{ news.jeu }}</td>




                        </div>
                    </div>





        <tr>
            <td colspan="6">News</td>
        </tr>


        {% endfor %}
    </div>
    <div class="example-wrapper">








        <a href="{{ path('news_new') }}">Create new</a>
        <td>
            <a href="{{ path('news_show', {'id': news.id}) }}" class="btn btn-warning">show <i class="bi bi-cart-x"></i></a>
            <a href="{{ path('news_edit', {'id': news.id}) }}" class="btn btn-warning" >edit<i class="bi bi-cart-x"></i></a>
            {#  <a href="{{ path('news_delete', {'id': news.id}) }}" class="btn btn-warning">delete <i class="bi bi-cart-x"></i> </a>#}

        </td>


    </div>
        {% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}






















