{% extends 'base.html.twig' %}

{% block title %}Hello GamescatController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="row vertical-gap">
        {% for i in games %}
        {% for j in promos  %}

{% if (j.id==i.promos.id) %}
            <div class="col-lg-6">
                <div class="nk-product-cat-2">
                    <a class="nk-product-image" href="store-product.html">
                        <img src="{{i.img}} " >
                    </a>
                    <div class="nk-product-cont">
                        <h3 class="nk-product-title h5"><a href="store-product.html">{{ i.name }}</a></h3>
                        <div class="nk-gap-1"></div>
                        <div class="nk-product-rating" data-rating="4">
            {% if rating is empty %}
                <a> <a href="{{ path('addrating1', {'id': i.id}) }}"> <i class="far fa-star" ></i></a>
                            <a href="{{ path('addrating2', {'id': i.id}) }}">  <i class="far fa-star" ></i> </a>
                                    <a  href="{{ path('addrating3', {'id': i.id}) }}"> </i> <i class="far fa-star"></i></a>
                                <a href="{{ path('addrating4', {'id': i.id}) }}">  <i class="far fa-star" ></i></a>
                                    <a href="{{ path('addrating5', {'id': i.id}) }}"> <i class="far fa-star" ></i></a>
            {% else %}
                            {% for k in rating  %}
                           {% if i.id==k.idgame.id %}
                               {% for d in k.note  %}

                            <i class="fa fa-star"></i>
                                {% endfor %}
                           {% else %}
                               <i class="far fa-star"></i>
                               <i class="far fa-star"></i> <i class="far fa-star"></i>
                               <i class="far fa-star"></i> <i class="far fa-star"></i>
                           {% endif %}
                            {% endfor %}


            {% endif %}
                        </div>
                        <div class="nk-gap-1"></div>
                        {{ i.descreption }}
                        <div class="nk-gap-2"></div>
                        <div class="nk-gap-1"></div>
                        <a href="{{ path('countdown', {date1: j.datefin|date("y,d,m  ") }) }}">aaaaaa</a>

                        <div class="nk-gap-2"></div>
                        <div class="nk-product-price">€ {% if (j.datefin>=date()) %} {{ i.prix *0.8  }} {% else %} {{ i.prix }} {% endif %}</div>
                        <div class="nk-gap-1"></div>
                        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
                        <div class="nk-gap-1"></div>
                        {% if is_granted("ROLE_USER") %}
                            {% for favoris in i.favoris %}
                                {% if favoris.id ==app.user.id %}
                                    <a href="{{ path('rmfav', {'id': i.id}) }}"><i class="fas fa-heart"></i></a>
                                {% else %}
                                    <a href="{{ path('addtofav', {'id': i.id}) }}"><i class="far fa-heart"></i></a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('addtofav', {'id': i.id}) }}
                        "><i class="far fa-heart"></i></a>
                            {% endfor %}
                        {% else %}
                            <i class="far fa-heart"></i>
                        {% endif %}
                    </div>



                </div>
            </div>
        {% endif %}

        {% endfor %}
        {% endfor %}
    </div>
<div class="example-wrapper">
    <h1>games</h1>










</div>
{% endblock %}
{% block footer %}
{% endblock %}