{% extends 'baseback.html.twig' %}
{% block body %}
{{ form_start(formCoach,{'attr': {'novalidate': 'novalidate'}} ) }}
<div >
    <a href="{{ path('coachlist') }}" class="mdi mdi-keyboard-backspace"  > </a>
</div>
<div class="card-body">
    <h4  class="card-title">modify coach </h4>
    <div class="table-responsive">

        <table class="table">


            <tr>


                <td>
                    {{ form_label(formCoach.name,"name") }}
                </td>
                <td>
                    {{ form_widget(formCoach.name)}}
                    {{ form_errors(formCoach.name) }}
                </td>

            </tr>
            <tr>


                <td>
                    {{ form_label(formCoach.lastname,"lastname") }}
                </td>
                <td>
                    {{ form_widget(formCoach.lastname)}}
                    {{ form_errors(formCoach.lastname) }}
                </td>
            </tr>

            <tr>


                <td>
                    {{ form_label(formCoach.rank,"rank") }}
                </td>
                <td>
                    {{ form_widget(formCoach.rank)}}
                    {{ form_errors(formCoach.rank) }}
                </td>
            </tr>
            <tr>

                <td>
                    {{ form_label(formCoach.categorie,"categorie") }}
                </td>
                <td>
                    {{ form_widget(formCoach.categorie)}}
                    {{ form_errors(formCoach.categorie) }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    {{ form_end(formCoach) }}
                </td>
            </tr>

        </table>
        {% endblock %}
