{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
        <tr>
            <td>Id : </td>
            <td>{{ users.id }}</td>
        </tr>
        <tr>
            <td>Username : </td>
            <td>{{ users.Username }}</td>
        </tr>
        <tr>
            <td>Email : </td>
            <td> {{ users.Email }}</td>
        </tr>
        <tr>
            <td>Bio : </td>
            <td>{{ users.Bio }}</td>
        </tr>
        <tr>
            <td>Points : </td>
            <td>{{ users.Points }}</td>
        </tr>
        <tr>
            <td>Picture : </td>
            <td><img width="90" height="90" src="{{users.image}} " ></td>
        </tr>
        <tr>
            <td>Points : </td>
            <td><a type="button" class="btn btn-outline-danger" href="{{ path('editprofile',{'id':users.id}) }}">Edit</a></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <h1>Commandes</h1>
    <table border="2">
    {% for command in commandes %}

        <tr>


            <td>{{ command.nom}}</td>
            <td>{{ command.prenom }}</td>
            <td>{{ command.email }}</td>

            <td>{{ command.numtelephone }}</td>
            <td>{{ command.adresse }}</td>


            <td>
                {% set foo = '' %}
                {% for p in command.listP %}
                    {{   p.name ~ ':' ~ command.Quantite[loop.index-1]  ~ foo ~'/' }}
                {% endfor %}

            </td>
            <td>{{ command.totalCost }}</td>

            <td></td>

            <td>
                {{ include('commande/_delete_form.html.twig') }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="9">no records found</td>
        </tr>
    {% endfor %}
    </table>


{% endblock %}
